@font-face{
    font-family: 'Epilogue';
    src: url(font-familly/epilogue/static/Epilogue-Bold.ttf),
    url(font-familly/epilogue/static/Epilogue-ExtraLight.ttf),
    url(font-familly/epilogue/static/Epilogue-LightItalic.ttf),
    url(font-familly/epilogue/static/Epilogue-Medium.ttf);

}

@font-face{
    font-family: 'Inter';
    src: url(font-familly/inter/static/Inter-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.registration-logo img{
    padding: 41px 0 0 49px;
    width: 173px; 
    height: 54px; 
}

.registration-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 100%;
    padding: 0 88px 0 72px;
}

.registration-group img{
    width: 637px; 
    height: 760px;
}

.registration-sign{
    background-color: white;
    width: 385px;
    height: fit-content;
    border-radius: 8px;
    padding: 56px;
}

.registration-creation-account{
    text-align: center;
}

.registration-form .button{
    text-align: center;
}

.registration-social-media{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
}

.registration-social-media img{
    width: 20px;
    height: 20px;
}

.registration-social-media button{
    background-color: rgb(192, 216, 214, 212, 211);
    border: none;
    padding: 4px 22px;
    border-radius: 26px;
}

.registration-creation-account h1{
    font-size: 24px; 
    margin-bottom: 2px;
    font-family: 'Epilogue';
}

.registration-creation-account p{
    font-size: 12px;
    font-family: 'Inter';
    color: #9095A0FF;
}

.registration-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.registration-input input{
    height: 44px;
    font-size: 16px; 
    background: #F3F4F6FF;
    border-radius: 22px;
    border: none;
    padding-left: 15px;
    outline: none;
}

.registration-input label{
    font-size: 16px; 
    font-family: 'Inter';
    color: rgb(98 94 94);
}

.paragraphe{
    text-align: center;
    font-family: 'Inter';
    font-size: 13px;
}

.paragraphe p{
    color: #323842FF;
    font-size: 14px; 
}

.registration-button-sign{
    text-align: center;
}

.registration-button-sign button{
    width: 100%;
    padding: 20px 0;
    color: #FFFFFFFF; 
    background: #00BDD6FF;
    border-radius: 26px;
    border: none;
    margin: 20px 0;
    font-size: 18px;
}

.paragraphe a{
    color: #00BDD6FF;
    text-decoration: none;
}

@media only screen and (max-width: 1920px) {
    
}

@media only screen and (max-width: 1440px) {
    
}